# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# VSCode / IDE
.vs/
/Control_panel_XP/.vs/
.vscode/
.idea/
*.suo
*.VC.db
*.ipch
*.tlog

# C++ compilés
*.obj
*.exp
*.lib
*.dll

# Dossiers de build
Debug/
Release/

# OS
.DS_Store
Thumbs.db
